<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AddressBook"
		  connectionString = "Server=localhost;Port:3306;Database=addressbook;Uid=root;Pwd=;charset=utf8;Trusted_Connection=True;Enlist=False;"
		  providerName     = "MySQl.Data.MySqlClient" />
	</connectionStrings>
</configuration>